[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
gym = {extras = ["atari"],version = "==0.13.1"}
tensorflow = "==1.13.1"
sacred = "==0.7.5"
easy-tf-log = "==1.10"
cloudpickle = "*"
gitpython = "*"
opencv-python = "*"
pymongo = "*"  # Required by sacred

[requires]
python_version = "3"
